<%- include('partials/header.ejs')  %> <!--incluir header-->



<body>
    <%- include('partials/navbar.ejs')  %> <!--incluir navbar-->
    
</body>

<%- include('partials/footer-bootstrap.ejs')  %> <!--include js bootstrap--> 